doctype html
html(ng-app="appResiSort")
	head
		title= title

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css")
		
		script(type="text/javascript" src="/javaScripts/jquery-1.10.2.min.js")
		script(type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js")

		link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')
	body
		block content